* {
    font-family: 'Roboto Condensed', arial, verdana;
    list-style: none;
    /* font-style: italic; */
}
body {
    background: #fff;
    padding: 32px;
}
section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    background: #569BFC;
}
header {
    display: flex;
    position: relative;
    width: 100%;
    /*height: 150px;*/
    justify-content: space-between;
    padding: 25px;
}
#logo {
    height: 50px;
    width: 147px;
    background: url('../images/logo.svg') no-repeat center;
    background-size: contain;
}
#tapformenu {
    display: none;
    color: #fff;
}
header ul , footer ul{
    display: flex;
    color: #fff;
    list-style-type: none;
    flex-grow: 0;
    font-size: 1.25rem;
    font-weight: 100;
    flex-wrap: wrap;
    max-width: calc(100% - 147px);
    justify-content: flex-end;
    font-style: italic;
    height: fit-content;   
}

footer ul{
    justify-content: flex-start;
    padding: 20px;
    max-width: 100vw;
}
@media all and (max-width: 600px) {
    body {
        padding: 16px;
    }
    header {
        flex-direction: column;
        align-items: center;
        height: 150px;
        padding: 5px 0;
        overflow: hidden;
    }
    #logo {
        margin: 10px 0 0 0;
    }
    #tapformenu {
        display: block;
    }
    header ul, #logo {
        max-width: 100% !important;
        justify-content: center;
    }
    header ul li {
        margin: 10px 10px !important;
    }
    .hidden {
        display: none !important;
    }
    footer ul{
        justify-content: center;
    }
}
header ul li, footer ul li {
    margin: 0 10px;
    cursor: pointer;
    transition: all 1s linear;
    position: relative;
    padding: 0;
}
#content {
    width: 100%;
    height: calc(100% - 150px);
    position: relative;
}

header ul li:hover, footer ul li:hover{
    /*transform: translateY(2px);*/
}

header ul li:before, footer ul li:before {
    position: absolute;
    bottom: 0;
    content: '';
    right: 100%;
    left: 0;
    top: 96%;
    transition: all .8s linear;
    background: #fff;
}

/*header ul li:hover:before, footer ul li:hover:before{
    right: 0;
}*/

.top, .base{
    letter-spacing: -0.05em;
    display: block;
    
}

.base{
    transition: all .3s linear;
}


.letter{
    /*width: 10px;
    height: 30px;*/
    position: relative;
    /*transform: translateY(0);*/
    transition: all .1s linear;
    top: 0;
}

.top{
    opacity: 0;
    transition: all .2s linear;
    position: relative;
    top: 0px;
    /*transition-delay: 1s;*/
}

.hover_animation .letter{
    /*transform: translateY(10px);*/
    /*top: 20px;*/
}

.hover_animation .top {
    opacity: 1;   
}

.hover_animation_done .top .letter{
    top: 15px;
}

.hover_animation .base .letter{
    top: 15px;
}

.hover_animation_remove .letter{
    transition-delay: 0s !important;
}

.hover_animation_remove .top, .hover_animation_remove .base{
    transition-duration: .5s
}

.hover_animation .base{
    opacity: 0;
}
.middlesection{
    margin: 0;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.Title{
    width: 50vw;
    height: fit-content;
    line-height: 5.75vmax;
   /* border: 2px solid black;*/
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:auto;
    position: fixed;

}
.line1,.line2,.line3{
font-style: italic; 
text-align: center;
}
.line1{
    font-size: 2vmax;
    /*font-family: azo sans ;*/
}
.line2{
    font-size: 2vmax;
    /*font-family: azo sans ;*/
}
.line3{
    font-size: 3vmax;
    /*font-family: azo sans ;*/
}
.tech{font-size:9vmax;
    font-weight: bold;
    color: #FFF;
}
.techcont{
    width: 50vw;
    height: fix-content;
   /* background-color: red;*/
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
@media screen and (min-width:500px) and (max-width: 700px) {
.Title{
    line-height: 7vmax;
}
.line1{
    font-size: 3vmax;
    /*font-family: azo sans ;*/
}
.line2{
    font-size: 3vmax;
    /*font-family: azo sans ;*/
}
.line3{
    font-size: 4vmax;
    /*font-family: azo sans ;*/
}

}

@media screen and (orientation:portrait) and (max-width: 600px){
.Title{
    line-height: 8vmax;
    width: 90vw;
}
.line1{
    font-size: 3vmax;
    /*font-family: azo sans ;*/
}
.line2{
    font-size: 3vmax;
    /*font-family: azo sans ;*/
}
.line3{
    font-size: 4vmax;
    /*font-family: azo sans ;*/
}
.tech{font-size:9vmax;
}
.techcont{
    width: 90vw;
 
}
}
@media screen and (orientation:portrait) and (max-width: 400px){
    .tech{
        font-size: 7vmax;
    }
    .techcont{
    width: 70vw;
 
}
}




