.ctwrapper {
	display: flex;
	width: 100%;
	height: 100%;
	margin-top: -70px;
}
.ctcontainer
{
display: flex;
justify-content: center;
flex-direction: column;
margin: auto;
overflow: hidden;
width: 100%;
}
.ctheading
{
display: flex;
justify-content: center;
}
.ctheading p
{
font-family: 'azo';
color: red;
font-size: 4rem;
text-align: center;
padding-bottom: 3vh;
position: relative;
z-index: 3;
font-weight:bold;
}
.ctheading p:before
{	font-family: 'azo';
	position: absolute;
	content: 'contact';
	top: -4px;
	color: white;
	font-weight: bold;
}
.ctcontent
{	display: flex;
	justify-content: center;
	margin:0 auto;
}
.ctcontent p:nth-child(1) {
	font-size: 1.4rem;
	text-decoration: underline;
}
.ctcontent p:nth-child(2) {
	font-size: 1.3rem;
}
.ctcontent p:nth-child(2) {
	font-size: 1.2rem;
}
.ctitem
{
	margin: 40px -30px;
	height: 300px;
	min-width: 400px;
	color: black;
	background-color: transparent;
	display: flex;
	flex-direction: column;
}
#ctimg {
	height: 200px;
	background: #fff url(../images/dp.png) no-repeat center;
}	
#ctimg
{
	margin-left: 50px;
	position: absolute;
	content: ' ';
	min-width: 300px;
	height: 200px;
	background-color: white;
}
#ctinfo
{	margin-top: 200px;
	min-width:300px;
	height: 100px;
	color:white; 
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#ctinfo p
{
	margin:auto;
}
#nextCt {
	display: block;
	position: absolute;
	top: 90%;
	right: 10px;
	background: #fff;
	color: #333;
	font-size: 1.2rem;
	padding: 5px 10px;
	display: none;
}
#prevCt {
	display: block;
	position: absolute;
	top: 90%;
	left: 10px;
	background: #fff;
	color: #333;
	font-size: 1.2rem;
	padding: 3px 8px;
	display: none;
}
@media only screen and (max-width: 700px)
{	#nextCt,#prevCt
	{
		display: block;
	}
	.ctcontainer
{
	display: flex;
    justify-content: center;
    height: 95vh;
    flex-direction: column;
    flex-wrap: wrap;
}
.ctheading p
{
	padding:0px;
	font-size: 2rem;
}
.ctcontainer
{	
	height: 100vh;
}
}