#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#events {
    display: flex;
    overflow: hidden;
    position: relative;
    height: 250px;
    width: 100%;
    margin: -75px 20px 0 20px;
    padding: 0;
    align-items: center;
}
.event {
    background: #333;
    min-width: 400px;
    height: calc(100% - 40px);
    margin: 0 20px;
    float: left;
    /* transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1); */
}
#descs {
    display: flex;
    overflow: hidden;
    position: relative;
    height: 100px;
    width: 100%;
    margin: -20px 20px 0 20px;
    padding: 0;
    align-items: center;
}
.desc {
    background: #f25;
    min-width: 400px;
    height: calc(100% - 20px);
    margin: 0 20px;
    float: left;
    /* transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}